html, body {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 10px;
  
  }
  
  body{
    font-family: serif;
    background-color: #F8D505;
  } 

  h1, h2 {
      margin:0;
      padding:0;
      font-family:serif;s
  }

.header {
    margin-bottom: 10px;
    display: flex;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items: center;
    background-color: #1B06D1;

}

.container {

}

.wrapper {

}

.main {

}

.article {

}

.aside {

}

.footer {

}
