.header {
    text-align:center;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
}

.container {

}

.wrapper {

}

.main {

}

.article {
<<<<<<< Updated upstream
  
}
=======

}

.aside {

}

.footer {

}
>>>>>>> Stashed changes
